<div>Xin chào <strong style="color: #0000FF"><%= TenKhachHang %></strong>,</div>
&nbsp;
<div>Chúng tôi đã nhận được một yêu cầu thiết lập lại mật khẩu tài khoản ngân hàng 25Bank của bạn, dưới đây là mã thiết lập lại mật khẩu của bạn: </div>
<h1 style="color: #5C946E"><%= OTPCode %></h1>
<div>Mã sẽ hết hạn sau 5 phút kể từ lúc thư này được gửi đi</div>
&nbsp;
<div><strong>Tại sao bạn nhận thư này?</strong></div>
<div>Nếu bạn không nhớ mật khẩu của mình và muốn thiết lập lại mật khẩu, chúng tôi yêu cầu bắt buộc phải có mã thiết lập lại mật khẩu gửi qua mail đã đăng ký tài khoản ngân hàng</div>
&nbsp;
<div>Nếu bạn không thực hiện yêu cầu này, hãy bỏ qua nó</div>
<div>Vui lòng không gửi thư phản hồi lại qua email này</div>
&nbsp;&nbsp;
<div>25BANK hỗ trợ</div>